.fgo-speeddial {
    width: 100%;
    &__box{
        position: relative;
        width: 100%;
        text-align: center;  
        font-size: 0;
        vertical-align: top;
        &::after {
            content: '';
            display: block;
            height: 0;
            clear: both;
        }
    }
    &__item {
        position: relative;
        display: inline-block;
        height: 0;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        p{
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            transform: translateY(-50%);
            text-align: center;
        }
        img{
            width: auto;
            height: 39px;
        }
        span {
            display: block;
            width: 100%;
            padding: 0 10px;
            margin-top: 4px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 12px;
            color: #bb442d;
            box-sizing: border-box;
        }
        &--default{
            background-image: url('../img/lottery_item.png');
        }
        &--active{
            background-image: url('../img/lottery_item_active.png');
        }
    }
    &__btn {
        position: absolute;
        width: 32.2%;
        height: 0;
        padding-top:32.2%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        background-image: url('../img/lottery_btn.png');
        top: 33.9%;
        left: 50%;
        transform: translateX(-50%) rotate(0deg);
        overflow: hidden;
        p{
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            text-align: center;
        }
        .fgo-speeddial__text{
            display: block;
            font-size: 26px;
            font-weight: bold;
            color: #bb442d;
        }
        .fgo-speeddial__remain{
            display: block;
            font-size: 12px;
            color:#bb442d;
        }
    }
}